{% comment %}
    Renders a list of menu items
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)
    - wrapper_class: {String} CSS wrapper class for the navigation (optional)

    Usage:
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
{% endcomment %}
<ul class="site-nav list--inline{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}" id="SiteNav">
  {% for link in linklists[linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}

    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
      <li class="site-nav--has-dropdown {% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
        <button class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          <span class="site-nav__label">{{ link.title | escape }}</span>{% include 'icon-chevron-down' %}
        </button>

        <div class="site-nav__dropdown critical-hidden" id="SiteNavLabel-{{ child_list_handle }}">
          {% if link.title == 'ADIDAS' %}
          <!-- 样式一 -->
          <div class="menu-content">
            <div class="menu-pane">
              <ul>
                <li class="active"><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
              </ul>
            </div>
            <div class="submenu">
              <div class="submenu-container active">
                <div class="menu-right-aside">
                  <img alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dwf684844b/Navigation/WomensEverscroll.jpg" title="">
                  <div class="menu-right-aside-content">
                    <h3 class="menu-right-aside-header">Womens Everscroll</h3>
                    <div class="menu-right-aside-text">Blue light filtering glasses to protect your eyes and promote better sleep, better focus and better style.</div>
                    <a href="###" class="menu-right-aside-button button"><span>Shop Womens Everscroll</span></a>
                  </div>
                </div>
              </div>
              <div class="submenu-container">
                <div class="menu-right-aside">
                  <img alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dwf684844b/Navigation/WomensEverscroll.jpg" title="">
                  <div class="menu-right-aside-content">
                    <h3 class="menu-right-aside-header">Womens2 Everscroll</h3>
                    <div class="menu-right-aside-text">Blue light filtering glasses to protect your eyes and promote better sleep, better focus and better style.</div>
                    <a href="###" class="menu-right-aside-button button"><span>Shop Womens Everscroll</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          {% endif %}

          {% if link.title == 'FLEX FIT' %}
          <!-- 样式二 -->
          <div class="menu-content">
            <div class="menu-pane">
              <ul>
                <li class="active"><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
                <li><a href="###">Mens Everscroll</a></li>
              </ul>
            </div>
            <div class="submenu">
              <div class="submenu-container active">
                <div class="browse-collection">
                  <a class="sub-menu-title" href="###">Special Editions</a>
                  <div class="dropdown third-level-menu">
                    <ul>
                      <li class="submenu-item">
                        <a href="####"> 
                          <div class="dropdown-menu-item-img-wrap ">
                            <img class="dropdown-menu-item-img" alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dw2693e157/Navigation/ThumbnailFieldAuto.png" loading="lazy" title="Field Automatic">
                          </div>
                          <div class="dropdown-menu-item-text">Field Automatic</div>
                        </a>
                      </li>
                      <li class="submenu-item">
                        <a href="####"> 
                          <div class="dropdown-menu-item-img-wrap ">
                            <img class="dropdown-menu-item-img" alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dw2693e157/Navigation/ThumbnailFieldAuto.png" loading="lazy" title="Field Automatic">
                          </div>
                          <div class="dropdown-menu-item-text">Field Automatic</div>
                        </a>
                      </li>
                      <li class="submenu-item">
                        <a href="####"> 
                          <div class="dropdown-menu-item-img-wrap ">
                            <img class="dropdown-menu-item-img" alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dw2693e157/Navigation/ThumbnailFieldAuto.png" loading="lazy" title="Field Automatic">
                          </div>
                          <div class="dropdown-menu-item-text">Field Automatic</div>
                        </a>
                      </li>
                      <li class="submenu-item">
                        <a href="####"> 
                          <div class="dropdown-menu-item-img-wrap ">
                            <img class="dropdown-menu-item-img" alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dw2693e157/Navigation/ThumbnailFieldAuto.png" loading="lazy" title="Field Automatic">
                          </div>
                          <div class="dropdown-menu-item-text">Field Automatic</div>
                        </a>
                      </li>
                      <li class="submenu-item">
                        <a href="####"> 
                          <div class="dropdown-menu-item-img-wrap ">
                            <img class="dropdown-menu-item-img" alt="" src="https://www.mvmt.com/on/demandware.static/-/Sites-mvmt-us-storefront/default/dw2693e157/Navigation/ThumbnailFieldAuto.png" loading="lazy" title="Field Automatic">
                          </div>
                          <div class="dropdown-menu-item-text">Field Automatic</div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% comment %}
            <!-- 原本的下拉菜单 -->
            {% if three_level_nav %}
              <div class="site-nav__childlist">
                <ul class="site-nav__childlist-grid">
                  {% if link.links != blank %}
                    {% for childlink in link.links %}
                      <li class="site-nav__childlist-item">
                        <a href="{{ childlink.url }}"
                          class="site-nav__link site-nav__child-link site-nav__child-link--parent"
                          {% if childlink.current %} aria-current="page"{% endif %}
                        >
                          <span class="site-nav__label">{{ childlink.title | escape }}</span>
                        </a>

                        {% if childlink.links != blank %}
                          <ul>
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a href="{{ grandchildlink.url }}"
                              class="site-nav__link site-nav__child-link"
                              {% if grandchildlink.current %} aria-current="page"{% endif %}
                            >
                                <span class="site-nav__label">{{ grandchildlink.title | escape }}</span>
                              </a>
                            </li>
                          {% endfor %}
                          </ul>
                        {% endif %}

                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>

            {% else %}
              <ul>
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}"
                    class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"
                    {% if childlink.current %} aria-current="page"{% endif %}
                  >
                      <span class="site-nav__label">{{ childlink.title | escape }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endcomment %}
        </div>
      </li>
    {% else %}
      <li {% if link.active %} class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}"
          class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
          {% if link.current %} aria-current="page"{% endif %}
        >
          <span class="site-nav__label">{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
