<div class="page-width homepage-carousel">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  <div class="js-carousel" data-carousel-config="{&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;slidesToShow&quot;:4,&quot;responsive&quot;:[{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:600,&quot;settings&quot;:{&quot;centerMode&quot;:true,&quot;centerPadding&quot;:&quot;40px&quot;,&quot;slidesToShow&quot;:1}}]}">
    {% for block in section.blocks limit: section.blocks.size %}
      {%- assign collection = collections[block.settings.collection] -%}
       <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}">
        <div class="category-tile">
          {% if collection.image %}
            {%- assign collection_image = collection.image -%}
          {% elsif collection.products.first and collection.products.first.media != empty %}
            {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
          {% else %}
            {% assign collection_image = blank %}
          {% endif %}
          <img class="img-fluid" src="{{ collection_image | img_url: '1024x1024' }}" alt="{{ collection.title }}">
          <h3>
            {% if collection.title == blank %}
              {{ 'homepage.onboarding.collection_title' | t }}
            {% else %}
              {{ collection.title }}
            {% endif %}
          </h3>
        </div>
      </a>
    {% endfor %}
  </div>

  <style>
    .homepage-carousel .category-tile img {
      width: 100%;
      height: 17.1875rem;
      object-fit: cover;
    }
    .homepage-carousel .category-tile h3 {
      font-size: .75rem;
      font-weight: 500;
      line-height: .875rem;
      letter-spacing: .38px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      padding: .625rem 0;
      color: #000;
      text-align: center !important;
    }
    @media (min-width: 768px) {
      .homepage-carousel .category-tile h3 {
          text-align: left;
          font-size: .8125rem;
      }
    }
    @media (min-width: 992px) {
      .homepage-carousel .category-tile h3{
        font-size: .875rem;
        line-height: 1.25rem;
        letter-spacing: .07812rem;
      }
    }
    .homepage-carousel .slick-arrow {
        border: .0625rem solid #cbcbcb;
        box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,.25),0 .3rem 1rem 0 rgba(0,0,0,.3);
        cursor: pointer;
        font-size: 0;
        padding: 1.4375rem 1.5625rem;
        position: absolute;
        top: 50%;
        z-index: 5;
        background: #fff;
        transform: translateY(-50%);
        display: none!important;
        font-family: FontAwesome;
        width: auto;
        height: auto;
    }

    @media(min-width: 544px) {
        .homepage-carousel .slick-arrow {
            display:block!important
        }
    }

    .homepage-carousel .slick-arrow:before {
        font-size: .625rem;
        font-family: FontAwesome;
    }

    .homepage-carousel .slick-prev {
        left: -1.5625rem
    }

    .homepage-carousel .slick-prev:before {
        content: "\F053"
    }

    .homepage-carousel .slick-next {
        right: -1.5625rem
    }

    .homepage-carousel .slick-next:before {
        content: "\F054"
    }

    .homepage-carousel .slick-slide {
        margin: 0 .3125rem
    }

    .homepage-carousel .slick-slide a {
        text-decoration: none
    }
  </style>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "cs": "Seznam kolekcí",
    "da": "Kollektionsliste",
    "de": "Kategorien-Liste",
    "en": "Collection list",
    "es": "Lista de colecciones",
    "fi": "Kokoelmaluettelo",
    "fr": "Liste des collections",
    "it": "Elenco delle collezioni",
    "ja": "コレクションリスト",
    "ko": "컬렉션 목록",
    "nb": "Samlingsliste",
    "nl": "Collectielijst",
    "pl": "Lista kolekcji",
    "pt-BR": "Lista de coleções",
    "pt-PT": "Lista de coleções",
    "sv": "Kollektionslista",
    "th": "รายการคอลเลกชัน",
    "tr": "Koleksiyon listesi",
    "vi": "Danh sách bộ sưu tập",
    "zh-CN": "产品系列列表",
    "zh-TW": "商品系列清單"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Seznam kolekcí",
        "da": "Kollektionsliste",
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fi": "Kokoelmaluettelo",
        "fr": "Page de liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "ko": "컬렉션 목록",
        "nb": "Samlingsliste",
        "nl": "Collectielijst",
        "pl": "Lista kolekcji",
        "pt-BR": "Lista de coleções",
        "pt-PT": "Lista de coleções",
        "sv": "Kollektionslista",
        "th": "รายการคอลเลกชัน",
        "tr": "Koleksiyon listesi",
        "vi": "Danh sách bộ sưu tập",
        "zh-CN": "产品系列列表",
        "zh-TW": "商品系列清單"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "cs": "Počet kolekcí na řádek",
        "da": "Kollektioner pr. række",
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fi": "Kokoelmia per rivi",
        "fr": "Collections par rangée",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "ko": "열 별 컬렉션",
        "nb": "Samlinger per rad",
        "nl": "Collecties per rij",
        "pl": "Liczba kolekcji na wiersz",
        "pt-BR": "Coleções por linha",
        "pt-PT": "Coleções por linha",
        "sv": "Produktserier per rad",
        "th": "คอลเลกชันต่อแถว",
        "tr": "Satır başına koleksiyon",
        "vi": "Số bộ sưu tập trên mỗi hàng",
        "zh-CN": "每行产品系列数",
        "zh-TW": "每列商品系列數"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "settings": [
        {
          "label": {
            "cs": "Kolekce",
            "da": "Kollektion",
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fi": "Kokoelma",
            "fr": "Collection",
            "it": "Collezione",
            "ja": "コレクション",
            "ko": "컬렉션",
            "nb": "Samling",
            "nl": "Collectie",
            "pl": "Kolekcja",
            "pt-BR": "Coleção",
            "pt-PT": "Coleção",
            "sv": "Produktserie",
            "th": "คอลเลกชัน",
            "tr": "Koleksiyon",
            "vi": "Bộ sưu tập",
            "zh-CN": "收藏",
            "zh-TW": "商品系列"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Seznam kolekcí",
        "da": "Kollektionsliste",
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fi": "Kokoelmaluettelo",
        "fr": "Page de liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "ko": "컬렉션 목록",
        "nb": "Samlingsliste",
        "nl": "Collectielijst",
        "pl": "Lista kolekcji",
        "pt-BR": "Lista de coleções",
        "pt-PT": "Lista de coleções",
        "sv": "Kollektionslista",
        "th": "รายการคอลเลกชัน",
        "tr": "Koleksiyon listesi",
        "vi": "Danh sách bộ sưu tập",
        "zh-CN": "产品系列列表",
        "zh-TW": "商品系列清單"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
