<!-- 新footer -->
<style>
  footer {
      background-color: #fff;
      line-height: normal;
      padding: 0;
      overflow: hidden;
      position: relative
  }

  footer a,footer div,footer p,footer section,footer ul {
      letter-spacing: .09375rem;
      font-family: futura-pt,Arial,sans-serif
  }

  footer .value-propositions {
      background-color: #000;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 0
  }

  @media(min-width: 769px) {
      footer .value-propositions {
          -ms-flex-wrap:nowrap;
          flex-wrap: nowrap
      }
  }

  footer .value-propositions .value-proposition-item {
      width: 100%;
      border-bottom: .0625rem solid #000;
      color: #fff;
      text-align: center;
      padding: 1.5625rem .9375rem 2.1875rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: center;
      justify-content: center;
      line-height: normal
  }

  footer .value-propositions .value-proposition-item .proposition-icon-holder {
      height: 2.375rem;
      margin: auto .625rem auto auto;
      width: 3.125rem
  }

  footer .value-propositions .value-proposition-item .proposition-icon-holder>img,footer .value-propositions .value-proposition-item .proposition-icon-holder>svg {
      margin-left: auto;
      width: 100%;
      height: auto;
      max-width: 2.5rem
  }

  footer .value-propositions .value-proposition-item:last-child p>span {
      display: block
  }

  @media(min-width: 769px) {
      footer .value-propositions .value-proposition-item:last-child p>span {
          display:none
      }
  }

  footer .value-propositions .value-proposition-item .proposition-copy-wrap {
      margin: auto;
      margin-left: .625rem;
      padding-top: .625rem
  }

  footer .value-propositions .value-proposition-item .proposition-copy-wrap>p {
      font-size: .6875rem;
      text-transform: uppercase;
      max-width: 10.8125rem;
      width: 100%;
      margin: 0 auto;
      text-align: left;
      color: #fff;
  }

  @media(min-width: 769px) {
      footer .value-propositions .value-proposition-item .proposition-copy-wrap>p {
          max-width:11.25rem
      }
  }

  @media(min-width: 769px) {
      footer .value-propositions .value-proposition-item .proposition-copy-wrap {
          padding-top:0;
          margin-left: .3125rem
      }
  }

  @media(min-width: 769px) {
      footer .value-propositions .value-proposition-item {
          width:25%;
          border-right: .0625rem solid #000;
          -ms-flex-pack: justify;
          justify-content: space-between
      }
  }

  footer>.container-fluid>.footer-container .footer-left-contents {
      padding: 4rem 2rem 2.5rem
  }

  footer>.container-fluid>.footer-container .footer-left-contents>.social-links {
      margin: 0
  }

  @media(max-width: 767.98px) {
      footer>.container-fluid>.footer-container .footer-left-contents {
          width:100%;
          max-width: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          padding: 2rem 2rem .5rem;
          text-align: center
      }

      footer>.container-fluid>.footer-container .footer-left-contents>.social-links {
          display: none
      }
  }

  footer>.container-fluid>.footer-container .footer-center-contents {
      padding: 3.5rem 0 2.5rem
  }

  footer>.container-fluid>.footer-container .footer-center-contents>.row {
      margin: 0
  }

  footer>.container-fluid>.footer-container .footer-center-contents .desktop-view {
      display: block;
      padding-left: 0
  }

  footer>.container-fluid>.footer-container .footer-center-contents .desktop-view .footer-item a .title {
      margin-bottom: .625rem
  }

  footer>.container-fluid>.footer-container .footer-center-contents .mobile-view {
      display: none
  }

  footer>.container-fluid>.footer-container .footer-center-contents .footer-item ul {
      margin-top: 1rem;
      margin-bottom: 0
  }

  footer>.container-fluid>.footer-container .footer-center-contents .footer-item ul li{
      margin-bottom: 10px
  }

  footer>.container-fluid>.footer-container .footer-center-contents .footer-item .title {
      position: relative;
      text-decoration: none;
      cursor: auto
  }

  footer>.container-fluid>.footer-container .footer-center-contents .footer-item .title,footer>.container-fluid>.footer-container .footer-center-contents .footer-item ul {
      font-size: .75rem;
      color: #000
  }

  @media(max-width: 767.98px) {
      footer>.container-fluid>.footer-container .footer-center-contents {
          padding:0;
          width: 100%;
          max-width: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%
      }
  }

  footer>.container-fluid>.footer-container .footer-right-contents {
      padding: 3.5rem 2rem 2.5rem
  }

  footer>.container-fluid>.footer-container .footer-right-contents .success_message {
      font-size: .875rem;
      color: #53c563;
      padding-bottom: .9375rem
  }

  @media(min-width: 769px) and (max-width:991.98px) {
      footer>.container-fluid>.footer-container .footer-right-contents {
          padding:0 2rem 1.5rem
      }
  }

  @media(max-width: 767.98px) {
      footer>.container-fluid>.footer-container .footer-right-contents {
          padding:1.5rem 2rem
      }
  }

  footer>.container-fluid>.footer-container .company-info>.contact-items {
      letter-spacing: 0;
      font-size: .875rem;
      line-height: 1.8;
      color: #5c5c5c;
      font-weight: 400;
      margin: 1.25rem 0 .625rem
  }

  footer>.container-fluid>.footer-container .company-info>.contact-items li {
      text-transform: capitalize
  }

  footer>.container-fluid>.footer-container .company-info>.contact-items li>a {
      text-transform: lowercase;
      color: #5c5c5c
  }

  footer>.container-fluid>.footer-container .social-links {
      margin-bottom: 0;
      max-width: 100%;
      float: left
  }

  footer>.container-fluid>.footer-container .social-links>li {
      margin: 0
  }

  footer>.container-fluid>.footer-container .social-links>li:first-child>a {
      padding-left: 0
  }

  footer>.container-fluid>.footer-container .social-links>li>a {
      display: block;
      font-size: .875rem;
      font-style: normal;
      padding: .625rem;
      transition: all .25s
  }

  footer>.container-fluid>.footer-container .social-links>li>a>i {
      font-style: normal;
      line-height: 1;
      font-size: 1rem
  }

  footer>.container-fluid>.footer-container .social-links>li>a>.fa:hover {
      color: #a40000
  }

  footer>.container-fluid>.footer-container .title,footer>.container-fluid>.footer-container ul {
      text-transform: uppercase
  }

  footer .content li a.accessible-link {
      position: static;
      text-decoration: none
  }

  footer .content li a.accessible-link:hover {
      color: #000;
      text-decoration: underline
  }

  @media(max-width: 767.98px) {
      footer>.container-fluid>.footer-container .footer-center-contents .row {
          padding:0;
          margin: 0
      }

      footer>.container-fluid>.footer-container .footer-center-contents .desktop-view {
          display: none
      }

      footer>.container-fluid>.footer-container .footer-center-contents .mobile-view {
          display: block;
          padding: 0;
          margin: 0
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item ul {
          background: #fafafa;
          margin: 0
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item ul>li {
          font-size: .875rem;
          height: auto
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item ul>li a {
          color: #000;
          text-decoration: none;
          box-shadow: none;
          outline: 0;
          display: block;
          padding: .9375rem 1.25rem;
          font-size: .875rem
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item a {
          letter-spacing: .125rem
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item .title {
          font-size: .875rem;
          padding: 1.125rem 1.25rem;
          margin: 0;
          border-top: .0625rem solid #f7f8f9;
          border-bottom: 0;
          background: #fff;
          text-decoration: none;
          display: block
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item .title:after {
          float: right;
          content: "";
          background-image: url({{ 'footer-down-icon.svg' | asset_url }});
          background-repeat: no-repeat;
          color: #000;
          position: absolute;
          top: 1.75rem;
          right: 1.25rem;
          width: .6875rem;
          height: .5rem;
          transition: all .25s;
          transform: perspective(400px) rotate3d(0,0,0,0)
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item.active .title:after {
          margin-top: 0
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item:last-child .title {
          border-bottom: .0625rem solid #f7f8f9
      }

      footer>.container-fluid>.footer-container .footer-center-contents .footer-item .title {
          font-family: futura-pt,Arial,sans-serif;
          font-weight: 500
      }
  }
  .home-email-signup {
    background-color: #fff;
    margin: 0;
  }

  .home-email-signup>.container {
      padding-top: .875rem;
      padding-bottom: .875rem
  }

  .home-email-signup .email-description {
      padding-top: .125rem;
      color: #fff;
      line-height: normal;
      text-align: center;
      font-weight: 500
  }

  .home-email-signup .form-control {
      line-height: 1.375rem;
      letter-spacing: 1px;
      border-radius: 2px;
      border-right: 0;
      font-weight: 500;
      height: 36px;
      flex: 1 1 auto;
      width: 1%;
      background: transparent;
      color: #fff !important;
      outline: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 0;
      font-size: 12px;
  }

  .home-email-signup .input-group-btn {
      background: #fff;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding-right: 1px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000
  }

  .home-email-signup .input-group-btn .btn-primary {
      letter-spacing: 2px;
      font-family: futura-pt,Arial,sans-serif;
      font-weight: 500;
      line-height: 1.125rem;
      margin-top: .0625rem
  }

  .home-email-signup .submission-status {
      margin-top: .3125rem;
      text-align: center
  }

  .home-email-signup .submission-status .success {
      color: #fff
  }

  .home-email-signup .submission-status .error {
      color: #a40000
  }

  @media(min-width: 544px) {
      .home-email-signup .email-description {
          padding-left:0;
          font-size: 1rem
      }

      .home-email-signup .submission-status {
          text-align: left
      }
  }

  @media(min-width: 992px) {
      .home-email-signup>.container {
          max-width:950px
      }

      .home-email-signup>.container .email-description {
          padding-top: .5625rem
      }
  }
  .home-email-signup .email-description {
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    text-align: left;
    font-size: .75rem;
    font-family: futura-pt,Arial,sans-serif;
    margin-bottom: .9375rem;
    letter-spacing: .14313rem;
    padding: 0;
  }
  .home-email-signup .input-group {
    max-width: 18.75rem;
    background: #000;
  }
  .d-none {
    display: none!important;
  }
  .home-email-signup .input-group .btn-primary {
    letter-spacing: 0;
    font-family: futura-pt,Arial,sans-serif;
    font-weight: 400;
    line-height: 0;
    margin: 0;
    padding: .375rem 1.0625rem;
    box-shadow: inherit;
    background: #000;
  }
  @media (max-width: 991.98px) {
    .home-email-signup .input-group {
      width: 100%;
      max-width: 100%;
    }
  }
  .footer .copyright {
    margin: 0;
    box-shadow: inset 0 0.0625rem 0 0 #f7f8f9;
    text-align: center;
    padding: 15px 0;
  }  

  .container{margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px;width:100%;}
    @media(min-width:769px){.container{max-width:720px;}
    }
    @media(min-width:992px){.container{max-width:940px;}
    }
    @media(min-width:1280px){.container{max-width:1140px;}
    }
    .container-fluid{margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px;width:100%;}
    .row{display:-ms-flexbox;display:flex;margin-right:-15px;margin-left:-15px;-ms-flex-wrap:wrap;flex-wrap:wrap;}
    .no-gutters{margin-right:0;margin-left:0;}
    .no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0;}
    .col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-md-down,.col-md-down-1,.col-md-down-10,.col-md-down-11,.col-md-down-12,.col-md-down-2,.col-md-down-3,.col-md-down-4,.col-md-down-5,.col-md-down-6,.col-md-down-7,.col-md-down-8,.col-md-down-9,.col-md-down-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto,.col-xl-custom,.col-xl-custom-1,.col-xl-custom-10,.col-xl-custom-11,.col-xl-custom-12,.col-xl-custom-2,.col-xl-custom-3,.col-xl-custom-4,.col-xl-custom-5,.col-xl-custom-6,.col-xl-custom-7,.col-xl-custom-8,.col-xl-custom-9,.col-xl-custom-auto,.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-auto,.col-xxl,.col-xxl-1,.col-xxl-10,.col-xxl-11,.col-xxl-12,.col-xxl-2,.col-xxl-3,.col-xxl-4,.col-xxl-5,.col-xxl-6,.col-xxl-7,.col-xxl-8,.col-xxl-9,.col-xxl-auto{position:relative;padding-right:15px;padding-left:15px;width:100%;min-height:1px;}
    .col{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-first{-ms-flex-order:-1;order:-1;}
    .order-last{-ms-flex-order:13;order:13;}
    .order-0{-ms-flex-order:0;order:0;}
    .order-1{-ms-flex-order:1;order:1;}
    .order-2{-ms-flex-order:2;order:2;}
    .order-3{-ms-flex-order:3;order:3;}
    .order-4{-ms-flex-order:4;order:4;}
    .order-5{-ms-flex-order:5;order:5;}
    .order-6{-ms-flex-order:6;order:6;}
    .order-7{-ms-flex-order:7;order:7;}
    .order-8{-ms-flex-order:8;order:8;}
    .order-9{-ms-flex-order:9;order:9;}
    .order-10{-ms-flex-order:10;order:10;}
    .order-11{-ms-flex-order:11;order:11;}
    .order-12{-ms-flex-order:12;order:12;}
    .offset-1{margin-left:8.33333%;}
    .offset-2{margin-left:16.66667%;}
    .offset-3{margin-left:25%;}
    .offset-4{margin-left:33.33333%;}
    .offset-5{margin-left:41.66667%;}
    .offset-6{margin-left:50%;}
    .offset-7{margin-left:58.33333%;}
    .offset-8{margin-left:66.66667%;}
    .offset-9{margin-left:75%;}
    .offset-10{margin-left:83.33333%;}
    .offset-11{margin-left:91.66667%;}
    @media(min-width:375){.col-xs{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-xs-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-xs-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-xs-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-xs-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-xs-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-xs-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-xs-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-xs-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-xs-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-xs-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-xs-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-xs-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-xs-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-xs-first{-ms-flex-order:-1;order:-1;}
    .order-xs-last{-ms-flex-order:13;order:13;}
    .order-xs-0{-ms-flex-order:0;order:0;}
    .order-xs-1{-ms-flex-order:1;order:1;}
    .order-xs-2{-ms-flex-order:2;order:2;}
    .order-xs-3{-ms-flex-order:3;order:3;}
    .order-xs-4{-ms-flex-order:4;order:4;}
    .order-xs-5{-ms-flex-order:5;order:5;}
    .order-xs-6{-ms-flex-order:6;order:6;}
    .order-xs-7{-ms-flex-order:7;order:7;}
    .order-xs-8{-ms-flex-order:8;order:8;}
    .order-xs-9{-ms-flex-order:9;order:9;}
    .order-xs-10{-ms-flex-order:10;order:10;}
    .order-xs-11{-ms-flex-order:11;order:11;}
    .order-xs-12{-ms-flex-order:12;order:12;}
    .offset-xs-0{margin-left:0;}
    .offset-xs-1{margin-left:8.33333%;}
    .offset-xs-2{margin-left:16.66667%;}
    .offset-xs-3{margin-left:25%;}
    .offset-xs-4{margin-left:33.33333%;}
    .offset-xs-5{margin-left:41.66667%;}
    .offset-xs-6{margin-left:50%;}
    .offset-xs-7{margin-left:58.33333%;}
    .offset-xs-8{margin-left:66.66667%;}
    .offset-xs-9{margin-left:75%;}
    .offset-xs-10{margin-left:83.33333%;}
    .offset-xs-11{margin-left:91.66667%;}
    }
    @media(min-width:544px){.col-sm{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-sm-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-sm-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-sm-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-sm-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-sm-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-sm-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-sm-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-sm-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-sm-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-sm-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-sm-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-sm-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-sm-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-sm-first{-ms-flex-order:-1;order:-1;}
    .order-sm-last{-ms-flex-order:13;order:13;}
    .order-sm-0{-ms-flex-order:0;order:0;}
    .order-sm-1{-ms-flex-order:1;order:1;}
    .order-sm-2{-ms-flex-order:2;order:2;}
    .order-sm-3{-ms-flex-order:3;order:3;}
    .order-sm-4{-ms-flex-order:4;order:4;}
    .order-sm-5{-ms-flex-order:5;order:5;}
    .order-sm-6{-ms-flex-order:6;order:6;}
    .order-sm-7{-ms-flex-order:7;order:7;}
    .order-sm-8{-ms-flex-order:8;order:8;}
    .order-sm-9{-ms-flex-order:9;order:9;}
    .order-sm-10{-ms-flex-order:10;order:10;}
    .order-sm-11{-ms-flex-order:11;order:11;}
    .order-sm-12{-ms-flex-order:12;order:12;}
    .offset-sm-0{margin-left:0;}
    .offset-sm-1{margin-left:8.33333%;}
    .offset-sm-2{margin-left:16.66667%;}
    .offset-sm-3{margin-left:25%;}
    .offset-sm-4{margin-left:33.33333%;}
    .offset-sm-5{margin-left:41.66667%;}
    .offset-sm-6{margin-left:50%;}
    .offset-sm-7{margin-left:58.33333%;}
    .offset-sm-8{margin-left:66.66667%;}
    .offset-sm-9{margin-left:75%;}
    .offset-sm-10{margin-left:83.33333%;}
    .offset-sm-11{margin-left:91.66667%;}
    }
    @media(min-width:768px){.col-md-down{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-md-down-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-md-down-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-md-down-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-md-down-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-md-down-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-md-down-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-md-down-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-md-down-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-md-down-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-md-down-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-md-down-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-md-down-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-md-down-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-md-down-first{-ms-flex-order:-1;order:-1;}
    .order-md-down-last{-ms-flex-order:13;order:13;}
    .order-md-down-0{-ms-flex-order:0;order:0;}
    .order-md-down-1{-ms-flex-order:1;order:1;}
    .order-md-down-2{-ms-flex-order:2;order:2;}
    .order-md-down-3{-ms-flex-order:3;order:3;}
    .order-md-down-4{-ms-flex-order:4;order:4;}
    .order-md-down-5{-ms-flex-order:5;order:5;}
    .order-md-down-6{-ms-flex-order:6;order:6;}
    .order-md-down-7{-ms-flex-order:7;order:7;}
    .order-md-down-8{-ms-flex-order:8;order:8;}
    .order-md-down-9{-ms-flex-order:9;order:9;}
    .order-md-down-10{-ms-flex-order:10;order:10;}
    .order-md-down-11{-ms-flex-order:11;order:11;}
    .order-md-down-12{-ms-flex-order:12;order:12;}
    .offset-md-down-0{margin-left:0;}
    .offset-md-down-1{margin-left:8.33333%;}
    .offset-md-down-2{margin-left:16.66667%;}
    .offset-md-down-3{margin-left:25%;}
    .offset-md-down-4{margin-left:33.33333%;}
    .offset-md-down-5{margin-left:41.66667%;}
    .offset-md-down-6{margin-left:50%;}
    .offset-md-down-7{margin-left:58.33333%;}
    .offset-md-down-8{margin-left:66.66667%;}
    .offset-md-down-9{margin-left:75%;}
    .offset-md-down-10{margin-left:83.33333%;}
    .offset-md-down-11{margin-left:91.66667%;}
    }
    @media(min-width:769px){.col-md{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-md-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-md-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-md-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-md-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-md-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-md-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-md-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-md-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-md-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-md-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-md-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-md-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-md-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-md-first{-ms-flex-order:-1;order:-1;}
    .order-md-last{-ms-flex-order:13;order:13;}
    .order-md-0{-ms-flex-order:0;order:0;}
    .order-md-1{-ms-flex-order:1;order:1;}
    .order-md-2{-ms-flex-order:2;order:2;}
    .order-md-3{-ms-flex-order:3;order:3;}
    .order-md-4{-ms-flex-order:4;order:4;}
    .order-md-5{-ms-flex-order:5;order:5;}
    .order-md-6{-ms-flex-order:6;order:6;}
    .order-md-7{-ms-flex-order:7;order:7;}
    .order-md-8{-ms-flex-order:8;order:8;}
    .order-md-9{-ms-flex-order:9;order:9;}
    .order-md-10{-ms-flex-order:10;order:10;}
    .order-md-11{-ms-flex-order:11;order:11;}
    .order-md-12{-ms-flex-order:12;order:12;}
    .offset-md-0{margin-left:0;}
    .offset-md-1{margin-left:8.33333%;}
    .offset-md-2{margin-left:16.66667%;}
    .offset-md-3{margin-left:25%;}
    .offset-md-4{margin-left:33.33333%;}
    .offset-md-5{margin-left:41.66667%;}
    .offset-md-6{margin-left:50%;}
    .offset-md-7{margin-left:58.33333%;}
    .offset-md-8{margin-left:66.66667%;}
    .offset-md-9{margin-left:75%;}
    .offset-md-10{margin-left:83.33333%;}
    .offset-md-11{margin-left:91.66667%;}
    }
    @media(min-width:992px){.col-lg{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-lg-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-lg-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-lg-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-lg-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-lg-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-lg-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-lg-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-lg-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-lg-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-lg-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-lg-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-lg-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-lg-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-lg-first{-ms-flex-order:-1;order:-1;}
    .order-lg-last{-ms-flex-order:13;order:13;}
    .order-lg-0{-ms-flex-order:0;order:0;}
    .order-lg-1{-ms-flex-order:1;order:1;}
    .order-lg-2{-ms-flex-order:2;order:2;}
    .order-lg-3{-ms-flex-order:3;order:3;}
    .order-lg-4{-ms-flex-order:4;order:4;}
    .order-lg-5{-ms-flex-order:5;order:5;}
    .order-lg-6{-ms-flex-order:6;order:6;}
    .order-lg-7{-ms-flex-order:7;order:7;}
    .order-lg-8{-ms-flex-order:8;order:8;}
    .order-lg-9{-ms-flex-order:9;order:9;}
    .order-lg-10{-ms-flex-order:10;order:10;}
    .order-lg-11{-ms-flex-order:11;order:11;}
    .order-lg-12{-ms-flex-order:12;order:12;}
    .offset-lg-0{margin-left:0;}
    .offset-lg-1{margin-left:8.33333%;}
    .offset-lg-2{margin-left:16.66667%;}
    .offset-lg-3{margin-left:25%;}
    .offset-lg-4{margin-left:33.33333%;}
    .offset-lg-5{margin-left:41.66667%;}
    .offset-lg-6{margin-left:50%;}
    .offset-lg-7{margin-left:58.33333%;}
    .offset-lg-8{margin-left:66.66667%;}
    .offset-lg-9{margin-left:75%;}
    .offset-lg-10{margin-left:83.33333%;}
    .offset-lg-11{margin-left:91.66667%;}
    }
    @media(min-width:1280px){.col-xl{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-xl-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-xl-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-xl-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-xl-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-xl-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-xl-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-xl-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-xl-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-xl-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-xl-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-xl-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-xl-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-xl-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-xl-first{-ms-flex-order:-1;order:-1;}
    .order-xl-last{-ms-flex-order:13;order:13;}
    .order-xl-0{-ms-flex-order:0;order:0;}
    .order-xl-1{-ms-flex-order:1;order:1;}
    .order-xl-2{-ms-flex-order:2;order:2;}
    .order-xl-3{-ms-flex-order:3;order:3;}
    .order-xl-4{-ms-flex-order:4;order:4;}
    .order-xl-5{-ms-flex-order:5;order:5;}
    .order-xl-6{-ms-flex-order:6;order:6;}
    .order-xl-7{-ms-flex-order:7;order:7;}
    .order-xl-8{-ms-flex-order:8;order:8;}
    .order-xl-9{-ms-flex-order:9;order:9;}
    .order-xl-10{-ms-flex-order:10;order:10;}
    .order-xl-11{-ms-flex-order:11;order:11;}
    .order-xl-12{-ms-flex-order:12;order:12;}
    .offset-xl-0{margin-left:0;}
    .offset-xl-1{margin-left:8.33333%;}
    .offset-xl-2{margin-left:16.66667%;}
    .offset-xl-3{margin-left:25%;}
    .offset-xl-4{margin-left:33.33333%;}
    .offset-xl-5{margin-left:41.66667%;}
    .offset-xl-6{margin-left:50%;}
    .offset-xl-7{margin-left:58.33333%;}
    .offset-xl-8{margin-left:66.66667%;}
    .offset-xl-9{margin-left:75%;}
    .offset-xl-10{margin-left:83.33333%;}
    .offset-xl-11{margin-left:91.66667%;}
    }
    @media(min-width:1440px){.col-xl-custom{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-xl-custom-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-xl-custom-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-xl-custom-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-xl-custom-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-xl-custom-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-xl-custom-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-xl-custom-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-xl-custom-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-xl-custom-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-xl-custom-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-xl-custom-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-xl-custom-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-xl-custom-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-xl-custom-first{-ms-flex-order:-1;order:-1;}
    .order-xl-custom-last{-ms-flex-order:13;order:13;}
    .order-xl-custom-0{-ms-flex-order:0;order:0;}
    .order-xl-custom-1{-ms-flex-order:1;order:1;}
    .order-xl-custom-2{-ms-flex-order:2;order:2;}
    .order-xl-custom-3{-ms-flex-order:3;order:3;}
    .order-xl-custom-4{-ms-flex-order:4;order:4;}
    .order-xl-custom-5{-ms-flex-order:5;order:5;}
    .order-xl-custom-6{-ms-flex-order:6;order:6;}
    .order-xl-custom-7{-ms-flex-order:7;order:7;}
    .order-xl-custom-8{-ms-flex-order:8;order:8;}
    .order-xl-custom-9{-ms-flex-order:9;order:9;}
    .order-xl-custom-10{-ms-flex-order:10;order:10;}
    .order-xl-custom-11{-ms-flex-order:11;order:11;}
    .order-xl-custom-12{-ms-flex-order:12;order:12;}
    .offset-xl-custom-0{margin-left:0;}
    .offset-xl-custom-1{margin-left:8.33333%;}
    .offset-xl-custom-2{margin-left:16.66667%;}
    .offset-xl-custom-3{margin-left:25%;}
    .offset-xl-custom-4{margin-left:33.33333%;}
    .offset-xl-custom-5{margin-left:41.66667%;}
    .offset-xl-custom-6{margin-left:50%;}
    .offset-xl-custom-7{margin-left:58.33333%;}
    .offset-xl-custom-8{margin-left:66.66667%;}
    .offset-xl-custom-9{margin-left:75%;}
    .offset-xl-custom-10{margin-left:83.33333%;}
    .offset-xl-custom-11{margin-left:91.66667%;}
    }
    @media(min-width:1920px){.col-xxl{max-width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;}
    .col-xxl-auto{width:auto;max-width:none;-ms-flex:0 0 auto;flex:0 0 auto;}
    .col-xxl-1{max-width:8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;}
    .col-xxl-2{max-width:16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;}
    .col-xxl-3{max-width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
    .col-xxl-4{max-width:33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;}
    .col-xxl-5{max-width:41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;}
    .col-xxl-6{max-width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
    .col-xxl-7{max-width:58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;}
    .col-xxl-8{max-width:66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;}
    .col-xxl-9{max-width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
    .col-xxl-10{max-width:83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;}
    .col-xxl-11{max-width:91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;}
    .col-xxl-12{max-width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}
    .order-xxl-first{-ms-flex-order:-1;order:-1;}
    .order-xxl-last{-ms-flex-order:13;order:13;}
    .order-xxl-0{-ms-flex-order:0;order:0;}
    .order-xxl-1{-ms-flex-order:1;order:1;}
    .order-xxl-2{-ms-flex-order:2;order:2;}
    .order-xxl-3{-ms-flex-order:3;order:3;}
    .order-xxl-4{-ms-flex-order:4;order:4;}
    .order-xxl-5{-ms-flex-order:5;order:5;}
    .order-xxl-6{-ms-flex-order:6;order:6;}
    .order-xxl-7{-ms-flex-order:7;order:7;}
    .order-xxl-8{-ms-flex-order:8;order:8;}
    .order-xxl-9{-ms-flex-order:9;order:9;}
    .order-xxl-10{-ms-flex-order:10;order:10;}
    .order-xxl-11{-ms-flex-order:11;order:11;}
    .order-xxl-12{-ms-flex-order:12;order:12;}
    .offset-xxl-0{margin-left:0;}
    .offset-xxl-1{margin-left:8.33333%;}
    .offset-xxl-2{margin-left:16.66667%;}
    .offset-xxl-3{margin-left:25%;}
    .offset-xxl-4{margin-left:33.33333%;}
    .offset-xxl-5{margin-left:41.66667%;}
    .offset-xxl-6{margin-left:50%;}
    .offset-xxl-7{margin-left:58.33333%;}
    .offset-xxl-8{margin-left:66.66667%;}
    .offset-xxl-9{margin-left:75%;}
    .offset-xxl-10{margin-left:83.33333%;}
    .offset-xxl-11{margin-left:91.66667%;}
    }
    .collapse:not(.show){ 
      display: none;
    }
</style>
<footer class="footer site-footer">
  <div class="banner-with-contents">
    <div class="content-asset">
      <ul class="value-propositions">
        <li class="value-proposition-item">
          <div class="proposition-icon-holder">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35 38">
              <defs>
              <path id="areoPlane" d="M26.9 38h-.2c-.3-.1-.5-.3-.6-.6l-4.8-15.2-4.8 5v7c0 .2-.1.5-.3.6l-2.6 2.8c-.2.2-.5.3-.8.3-.3 0-.5-.2-.7-.5l-3.7-7.8-7.5-3.9c-.3-.1-.4-.4-.5-.7 0-.3 0-.6.2-.8l2.6-2.8c.2-.2.4-.3.6-.3h6.7l4.8-5-14.4-5c-.3-.1-.5-.4-.6-.7-.1-.3 0-.6.2-.9l2.8-2.9c.2-.1.5-.2.7-.2l19 1.8 3-3.1c.5-.5 2.9-2.8 5.2-2.8.9 0 1.7.3 2.3 1 2 2.1.5 5.4-1.8 7.8l-3 3.1 1.7 19.9c0 .3-.1.5-.3.7l-2.8 2.9c.1.2-.2.3-.4.3zM2.8 24.6l6.6 3.5c.2.1.3.2.4.4l3.3 6.9 1.5-1.6v-7c0-.2.1-.5.3-.6l6.1-6.4c.2-.2.5-.3.8-.2.3.1.5.3.6.6l4.8 15.2 1.5-1.5L27 14c0-.3.1-.5.3-.7l3.3-3.5c1.4-1.4 3-4 1.8-5.2-.3-.3-.7-.5-1.1-.5-1.4 0-3.1 1.4-3.9 2.3l-3.3 3.5c-.2.2-.4.3-.7.3l-19-1.8-1.6 1.4 14.6 5.1c.3.1.5.4.6.7.1.3 0 .6-.2.9l-6.1 6.4c-.2.2-.4.3-.6.3H4.3l-1.5 1.4z"></path>
              </defs>
              <clipPath id="areoPlanePath">
              <use xlink:href="#areoPlane" overflow="visible"></use>
              </clipPath>
              <path clip-path="url(#areoPlanePath)" fill="#fff" d="M-3.5-1.6h41.9v43.4H-3.5z"></path>
            </svg>
          </div>
          <div class="proposition-copy-wrap">
            <p>Free Shipping Worldwide</p>
          </div>
        </li>
        <li class="value-proposition-item">
          <div class="proposition-icon-holder">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35 38">
            <defs>
            <path id="reset" d="M32.5 13.5c-1.8-4.1-5.1-7.2-9.3-8.8-4-1.7-8.6-1.5-12.7.3C4.8 7.6 1.1 13.1.7 19.4c-.1.3 0 .6.1.9 0 0 0 .1.1.1v.1c.3.5.8.8 1.4.8.9.1 1.7-.7 1.8-1.6.3-5 3.2-9.4 7.8-11.4 6.6-3.1 14.5-.1 17.5 6.7 3 6.7 0 14.7-6.6 17.7-2.7 1.2-5.8 1.5-8.6.8l.2-.3c.2-.3.2-.8-.1-1.1-.2-.3-.5-.5-.9-.5l-4.7.1c-.4 0-.7.2-.9.6-.2.3-.2.7 0 1l2.5 4.1c.2.3.6.6 1 .5.4 0 .7-.2.9-.5l.4-.7c1.6.5 3.4.8 5 .7 2.3 0 4.5-.5 6.6-1.4 4.1-1.9 7.2-5.2 8.7-9.4 1.7-4.4 1.5-9-.4-13.1"></path>
            </defs>
            <clipPath id="resetPath">
            <use xlink:href="#reset" overflow="visible"></use>
            </clipPath>
            <path clip-path="url(#resetPath)" fill="#fcfcfc" d="M-3.1-.3h40.9v41.8H-3.1z"></path>
            </svg>
          </div>
          <div class="proposition-copy-wrap">
            <p>free returns worldwide <span class="utl--line-break temp-remove-shipping-intl">on orders over <span class="free-shippng-minimum">$50</span></span></p>
          </div>
        </li>
        <li class="value-proposition-item">
          <div class="proposition-icon-holder">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35 38">
            <defs>
            <path id="a" d="M.7 4.5h33.2v32.4H.7z"></path>
            </defs>
            <clipPath id="b">
            <use xlink:href="#a" overflow="visible"></use>
            </clipPath>
            <g clip-path="url(#b)">
            <defs>
            <path id="c" d="M0 3.8h34.6v33.9H0z"></path>
            </defs>
            <clipPath id="d">
            <use xlink:href="#c" overflow="visible"></use>
            </clipPath>
            <g clip-path="url(#d)">
            <defs>
            <path id="e" d="M33.6 20.2l-2.7-1.9c-.4-.3-.5-.9-.3-1.3l1.6-2.9c.2-.4 0-.8-.4-.9l-3.3-.5c-.5-.1-.9-.5-.8-1l.2-3.3c0-.5-.3-.8-.8-.6l-3.2 1c-.5.1-1-.1-1.2-.6l-1.2-3.1c-.2-.5-.6-.6-1-.2L18 7.2c-.4.3-1 .3-1.3 0l-2.5-2.3c-.4-.3-.8-.2-1 .2L11.9 8c-.2.5-.7.7-1.2.6l-3.2-1c-.5-.1-.8.2-.8.7l.2 3.3c0 .5-.3 1-.8 1l-3.3.5c-.5.1-.7.5-.4.9L4 17c.2.4.1 1-.3 1.3L1 20.2c-.4.3-.4.7 0 1l2.7 1.9c.4.3.6.9.3 1.3l-1.6 2.9c-.2.4 0 .8.4.9l3.3.5c.5.1.9.5.8 1L6.7 33c0 .5.3.8.8.6l3.2-1c.5-.1 1 .1 1.2.6l1.2 3.1c.2.5.6.6 1 .2l2.5-2.3c.4-.3 1-.3 1.3 0l2.5 2.3c.4.3.8.2 1-.2l1.2-3.1c.2-.5.7-.7 1.2-.6l3.2 1c.5.1.8-.1.8-.6l-.2-3.3c0-.5.3-1 .8-1l3.3-.5c.5-.1.7-.5.4-.9l-1.6-2.9c-.2-.4-.1-1 .3-1.3l2.7-1.9c.5-.3.5-.8.1-1m-2.5 1L29 22.7c-.4.3-.5.9-.3 1.3l1.3 2.2c.2.4 0 .8-.4.9l-2.5.4c-.5.1-.9.5-.8 1l.2 2.6c0 .5-.3.8-.8.6L23 31c-.5-.1-1 .1-1.2.6l-1 2.4c-.2.5-.6.6-1 .2l-1.9-1.7c-.4-.3-1-.3-1.3 0l-1.9 1.7c-.4.3-.8.2-1-.2l-1-2.4c-.2-.5-.7-.7-1.2-.6l-2.5.7c-.5.1-.8-.1-.8-.6l.2-2.6c0-.5-.3-1-.8-1l-2.5-.4c-.5-.1-.7-.5-.4-.9L5.9 24c.2-.4.1-1-.3-1.3l-2.1-1.5c-.4-.3-.4-.7 0-1l2.1-1.5c.4-.3.5-.9.3-1.3l-1.3-2.2c-.2-.4 0-.8.4-.9l2.5-.4c.5-.1.9-.5.8-1l-.2-2.6c0-.5.3-.8.8-.6l2.5.7c.5.1 1-.1 1.2-.6l1-2.4c.2-.5.6-.6 1-.2l1.9 1.7c.4.3 1 .3 1.3 0l1.9-1.7c.4-.3.8-.2 1 .2l1 2.4c.2.5.7.7 1.2.6l2.5-.7c.5-.1.8.1.8.6l-.2 2.6c0 .5.3 1 .8 1l2.5.4c.5.1.7.5.4.9l-1.3 2.2c-.2.4-.1 1 .3 1.3l2.1 1.5c.7.2.7.7.3 1"></path>
            </defs>
            <clipPath id="f">
            <use xlink:href="#e" overflow="visible"></use>
            </clipPath>
            <g clip-path="url(#f)">
            <defs>
            <path id="g" d="M.7 4.5h33.2V37H.7z"></path>
            </defs>
            <clipPath id="h">
            <use xlink:href="#g" overflow="visible"></use>
            </clipPath>
            <path clip-path="url(#h)" fill="#fcfcfc" d="M-2.8 1h40.1v39.3H-2.8z"></path>
            </g>
            </g>
            </g>
            </svg>
          </div>
          <div class="proposition-copy-wrap">
            <p>24 month warranty on <span>all products</span></p>
          </div>
        </li>
        <li class="value-proposition-item">
          <div class="proposition-icon-holder">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35 38">
            <defs>
            <path id="security" d="M30.1 4.3c-.4-.3-1-.3-1.4-.1-6.4 3-9.1-.8-9.2-1-.3-.4-.7-.7-1.2-.7s-1 .3-1.2.7c-.1.2-2.8 4-9.2 1-.5-.2-1-.2-1.5.1-.4.3-.7.7-.7 1.3V20.3c.1.5 2.3 12.3 11.9 16.6.2.1.4.1.6.1.2 0 .4 0 .6-.1 9.6-4.2 11.8-16.1 11.9-16.6V5.6c.1-.6-.1-1-.6-1.3zm-2.2 15.6c-.2 1.1-2.4 10.4-9.6 14-7.2-3.6-9.4-12.9-9.6-14V7.7c4.5 1.4 7.8.1 9.6-1.5 1.8 1.6 5.1 2.9 9.6 1.5v12.2z"></path>
            </defs>
            <clipPath id="securityPath">
            <use xlink:href="#security" overflow="visible"></use>
            </clipPath>
            <path clip-path="url(#securityPath)" fill="#fff" d="M1.4-1.8h33.7v43.1H1.4z"></path>
            </svg>
          </div>
          <div class="proposition-copy-wrap">
            <p>100% safe &amp; secure checkout <span>worry-free-purchases</span></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid page-width">
    <div class="footer-container row">
      <div class="footer-left-contents footer-item col-sm-4 col-lg-3">
        <div class="content-asset">
          <div class="company-info">
            {% if section.settings.logo %}
              {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <a href="{{ routes.root_url }}" class="footer-logo" data-image-loading-animation>
                <img class="lazyload js"
                     src="{{ section.settings.logo | img_url: '300x300' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                     data-sizes="auto"
                     style="width: {{ section.settings.logo_max_width }}px">
              </a>
            {% endif %}

            {% if section.settings.contact_email %}
            <ul class="contact-items">
              <li><a href="mailto:{{ section.settings.contact_email }}">{{ section.settings.contact_email }}</a></li>
            </ul>
            {% endif %}
          </div>
        </div>

        {%- assign social_icons = false -%}
        {%- if
          settings.social_twitter_link != blank
          or settings.social_facebook_link != blank
          or settings.social_pinterest_link != blank
          or settings.social_instagram_link != blank
          or settings.social_tumblr_link != blank
          or settings.social_snapchat_link != blank
          or settings.social_youtube_link != blank
          or settings.social_vimeo_link != blank
          or request.page_type == 'article'
          or request.page_type == 'blog'
        -%}
          {%- assign social_icons = true -%}
        {%- endif -%}
        {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
        {%- if social_icons -%}
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item">
                  <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                    {%- include icon_link -%}
                    <span class="icon__fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {% endif %}
      </div>
      <div class="footer-center-contents col-lg-6 col-sm-8">
        <div class="row">
          {%- for block in section.blocks -%}
          <div class="footer-item grid__item medium-up--two-sixths desktop-view">
            <div class="content-asset">
              {%- if block.settings.title -%}
              <a class="title" aria-expanded="false"><b>{{ block.settings.title | escape }}</b></a>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'link_list' -%}
                  {%- assign footer_linklist = block.settings.menu -%}
                    <ul class="menu-footer content">
                      {%- for link in linklists[footer_linklist].links -%}
                       <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
              {%- endcase -%}
            </div>
          </div>
          {% endfor %}
          {%- for block in section.blocks -%}
          <div class="footer-item col-md-4 mobile-view">
            <div class="content-asset">
              {%- if block.settings.title -%}
              <a class="title collapsed" href="#" data-toggle="collapse" role="button" data-target="#mens{{ forloop.index }}" id="mens{{ forloop.index }}heading{{ forloop.index }}" aria-expanded="false">{{ block.settings.title | escape }}</a>
              {%- endif -%}
              {%- case block.type -%}
                {%- when 'link_list' -%}
                  {%- assign footer_linklist = block.settings.menu -%}
                    <ul class="collapse menu-footer content" id="mens{{ forloop.index }}" aria-labelledby="mens{{ forloop.index }}heading{{ forloop.index }}">
                      {%- for link in linklists[footer_linklist].links -%}
                       <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
              {%- endcase -%}
            </div> 
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-3 col-md-12 footer-item footer-right-contents home-email-signup">
        <h4 class="email-description">Sign up for newsletter</h4>
        <div class="submission-status d-none" data-errormsg="Please enter an email address">
           Please enter an email address
        </div>
        <form role="form" name="newsletterSubscribe" id="newsletterSubscribe" action="" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" id="hpEmailSignUp" name="hpEmailSignUp" placeholder="Enter your email address">
            <button type="submit" class="btn btn-primary">
              <img src="{{ 'newsLetterButtonSvg.svg' | asset_url }}" alt="Subscribe">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}
  </div>
</footer>

{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Obrázek loga",
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pl": "Obraz logo",
        "pt-BR": "Imagem do logo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "tr": "Logo görseli",
        "vi": "Hình ảnh logo",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "cs": "Šířka vlastního loga",
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pl": "Niestandardowa szerokość logo",
        "pt-BR": "Largura do logo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "tr": "Özel logo genişliği",
        "vi": "Chiều rộng logo tùy chỉnh",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": {
        "zh-CN": "邮件地址",
        "zh-TW": "邮件地址"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Platební metody",
        "da": "Betalingsmetoder",
        "de": "Zahlungsmethoden",
        "en": "Payment methods",
        "es": "Métodos de pago",
        "fi": "Maksutavat",
        "fr": "Moyens de paiement",
        "it": "Metodi di pagamento",
        "ja": "決済方法",
        "ko": "결제 방법",
        "nb": "Betalingsmetoder",
        "nl": "Betaalmethoden",
        "pl": "Metody płatności",
        "pt-BR": "Formas de pagamento",
        "pt-PT": "Métodos de Pagamento",
        "sv": "Betalningsmetoder",
        "th": "วิธีการชำระเงิน",
        "tr": "Ödeme yöntemleri",
        "vi": "Phương thức thanh toán",
        "zh-CN": "支付方式",
        "zh-TW": "付款方式"
      }
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "cs": "Zobrazit ikony plateb",
        "da": "Vis betalingsikoner",
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pl": "Pokaż ikony płatności",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "tr": "Ödeme simgelerini göster",
        "vi": "Hiển thị biểu tượng thanh toán",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "cs": "Barva",
        "da": "Farve",
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fi": "Väri",
        "fr": "Couleur",
        "it": "Colore",
        "ja": "色",
        "ko": "색상",
        "nb": "Farge",
        "nl": "Kleur",
        "pl": "Kolor",
        "pt-BR": "Cor",
        "pt-PT": "Cor",
        "sv": "Färg",
        "th": "สี",
        "tr": "Renk",
        "vi": "Màu",
        "zh-CN": "颜色",
        "zh-TW": "顏色"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "cs": "Pozadí",
        "da": "Baggrund",
        "de": "Hintergrund",
        "en": "Background",
        "es": "Fondo",
        "fi": "Tausta",
        "fr": "Couleur de fond",
        "it": "Sfondo",
        "ja": "背景",
        "ko": "배경",
        "nb": "Bakgrunn",
        "nl": "Achtergrond",
        "pl": "Tło",
        "pt-BR": "Plano de fundo",
        "pt-PT": "Fundo",
        "sv": "Bakgrund",
        "th": "พื้นหลัง",
        "tr": "Arka plan",
        "vi": "Nền",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#f6f6f6"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#333232"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "cs": "Rychlé odkazy",
            "da": "Genvejslinks",
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fi": "Pikalinkit",
            "fr": "Liens rapides",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "ko": "빠른 링크",
            "nb": "Hurtigkoblinger",
            "nl": "Snelle links",
            "pl": "Szybkie linki",
            "pt-BR": "Links rápidos",
            "pt-PT": "Ligações rápidas",
            "sv": "Snabblänkar",
            "th": "ลิงก์ด่วน",
            "tr": "Hızlı bağlantılar",
            "vi": "Liên kết nhanh",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "cs": "Nabídka",
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "tr": "Menü",
            "vi": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    }
  ]
}
{% endschema %}
